@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 375px) {

    .box1 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, hsl(217, 54%, 11%), hsl(216, 50%, 16%));
    }

    .box2 {
        display: flex;
        width: 340px;
        flex-direction: column;
        background-image:linear-gradient(to bottom, hsl(215, 32%, 27%), hsl(214, 47%, 18%) );
        border-radius: 1rem;
    }

    .box2 a {
        align-self: center;
        text-decoration: none;
    }

    .box2 img {
        width: 300px;
        margin-top: 20px;
        align-self: center;
        border-radius: 0.5rem;
    }

    h1 {
        font-family: 'Outfit';
        font-weight: 600;
        color: white;
        font-size: 23px;
        align-self: flex-start;
        margin: 15px 105px 0px 0px
    }

    .desc {
        font-family: 'Outfit';
        font-size: 15px;
        color: hsl(215, 51%, 70%);
        align-self: flex-start;
        margin: 10px 0px 0px 25px;
    }

    .info {
        display: flex;
        margin: 15px 25px 20px 25px;
        justify-content: space-between;
    }

    .quantinfo {
        display: flex;
        gap: 5px;
    }

    .quant {
        color:  hsl(178, 100%, 50%);
        font-family: 'Outfit';
    }

    .timerinfo {
        display: flex;
        gap: 5px;
    }

    .timer {
        font-family: 'Outfit';
        color: hsl(215, 51%, 70%);
    }

    .creator {
        display: flex;
        align-items: center;
        gap: 5px;
        border-top: 1px solid hsla(215, 52%, 70%, 0.247);; 
        width: 300px;
        margin: 0px 0px 0px 25px
    }

    .creator img {
       
        width: 40px;
        border: 2px solid white;
        border-radius: 1.6rem;
        transform: translate(0, -0.5rem);
    }

    .c-of {
        font-family: 'Outfit';
        color: hsla(215, 52%, 70%, 0.329);
    }

    .author {
        font-family: 'Outfit';
        color: hsl(0, 0%, 100%);
    }

}

@media (min-width: 376px) {

    .box1 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, hsl(217, 54%, 11%), hsl(216, 50%, 16%));
    }

    .box2 {
        display: flex;
        width: 340px;
        flex-direction: column;
        background-image:linear-gradient(to bottom, hsl(215, 32%, 27%), hsl(214, 47%, 18%) );
        border-radius: 1rem;
    }

    .box2 a {
        align-self: center;
        text-decoration: none;
    }

    .box2 img {
        width: 300px;
        margin-top: 20px;
        align-self: center;
        border-radius: 0.5rem;
    }

    h1 {
        font-family: 'Outfit';
        font-weight: 600;
        color: white;
        font-size: 23px;
        align-self: flex-start;
        margin: 15px 105px 0px 0px
    }

    .desc {
        font-family: 'Outfit';
        font-size: 15px;
        color: hsl(215, 51%, 70%);
        align-self: flex-start;
        margin: 10px 0px 0px 25px;
    }

    .info {
        display: flex;
        margin: 15px 25px 20px 25px;
        justify-content: space-between;
    }

    .quantinfo {
        display: flex;
        gap: 5px;
    }

    .quant {
        color:  hsl(178, 100%, 50%);
        font-family: 'Outfit';
    }

    .timerinfo {
        display: flex;
        gap: 5px;
    }

    .timer {
        font-family: 'Outfit';
        color: hsl(215, 51%, 70%);
    }

    .creator {
        display: flex;
        align-items: center;
        gap: 5px;
        border-top: 1px solid hsla(215, 52%, 70%, 0.247);; 
        width: 300px;
        margin: 0px 0px 0px 25px
    }

    .creator img {
       
        width: 40px;
        border: 2px solid white;
        border-radius: 1.6rem;
        transform: translate(0, -0.5rem);
    }

    .c-of {
        font-family: 'Outfit';
        color: hsla(215, 52%, 70%, 0.329);
    }

    .author {
        font-family: 'Outfit';
        color: hsl(0, 0%, 100%);
    }
}